@model WebApplication1.Models.Product
@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-lg-12 margin-tb">
        <div class="pull-left">
            <h2>Add Product</h2>
        </div>
        <div class="pull-right">
            <a class="btn btn-primary" asp-controller="Product" asp-action="Index">Back</a>
        </div>
    </div>
</div>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <strong>Whoops!</strong> There were some problems with your input.<br />
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}
<form asp-action="Create" method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control " asp-for="Name" />
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <input type="text" class="form-control " asp-for="Description" />
    </div>
    <div class="form-group">
        <label for="Images">Images</label>
        <input type="file" class="form-control " asp-for="Images" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>
